.preview {
    &__inner {
        margin: 0 auto;
        max-width: 616px;
    }

    &__block {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
    }

    &__fullname {
        display: flex;
        column-gap: 8px;
        width: fit-content;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        
        &--theme--gray {
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px 20px;
        }
    }

    &__item {
        font-size: 16px;
        font-weight: 700;
    }
}
